<article>
  <section class="wrapper">
    <h1>404</h1>
    <h2>vous êtes perdu...</h2>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </section>
  <!-- <div class="jedi3">
    <img src="../../assets/images404/jedi3.png" alt="">
  </div>
  <div class="jedi2">
    <img src="../../assets/images404/jedi2.png" alt="">
  </div>
  <div class="death">
    <img src="../../assets/images404/death.png" alt="">
  </div>
  <div class="solo">
    <img src="../../assets/images404/solo.png" alt="">
  </div>
  <div class="last">
    <img src="../../assets/images404/last.png" alt="">
  </div>
  <div class="last2">
    <img src="../../assets/images404/last.png" alt="">
  </div>
  <div class="last3">
    <img src="../../assets/images404/last.png" alt="">
  </div>
  <div class="bad">
    <img src="../../assets/images404/bad.png" alt="">
  </div>
  <div class="bad2">
    <img src="../../assets/images404/bad.png" alt="">
  </div>
  <div class="bad3">
    <img src="../../assets/images404/bad.png" alt="">
  </div>
  <div class="big">
    <img src="../../assets/images404/big.png" alt="">
  </div> -->
</article>
