<article>
  <section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </section>

  <div class="form-inscrip">
    <p>Nom d'utilisateur</p>
    <input type="text" placeholder="Nom d'utilisateur" />
    <p>Mot de passe</p>
    <input type="text" placeholder="Mot de passe" />
    <p>Email</p>
    <input type="text" placeholder="Email" />

    <button type="submit" class="button-inscrip">
      <i class="fas fa-file-signature"></i> S'inscrire
    </button>
    <span class="inscrire-avec">S'inscrire avec</span>
    <a><i class="fab fa-google">oogle</i></a>
    <a><i class="fab fa-facebook">acebook</i></a>

    <embed src="../../assets/ressourcesInternes/globe.svg" alt="" />
  </div>
</article>
