@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

article {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #0f89a3 100%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  height: 100vh;
  overflow: hidden;
}
.form-inscrip button {
  width: 100px;
  height: 30px;
  margin: 20px;
  background-color: #f09545;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
}
.form-inscrip button:hover {
  cursor: pointer;
}
.form-inscrip span {
  margin: 20px 0 10px 0;

  font-size: large;
}
.form-inscrip a {
  margin: 5px 0;
  color: #f09545;
  transition: all 0.2s;
}
.form-inscrip a:hover {
  color: white;
  cursor: pointer;
}
.form-inscrip .button-inscrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #f09545;
  border: solid 2px white;
  border-radius: 2px;
  padding: 10px 20px;
  text-decoration: none;
  align-items: center;
}
.form-inscrip button {
  height: 50px;
  width: 200px;
  color: white;
}

.form-inscrip embed {
  position: relative;
  bottom: 0px;
}
.form-inscrip {
  margin: 1em;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.form-inscrip p {
  text-decoration: #f09545 underline;
  margin-bottom: 5px;
  font-size: x-large;
}
.form-inscrip input {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 20rem;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
}
.form-inscrip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
