<article>
  <section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </section>

  <div id="allFormsAndSvg">

    <div id="allForms">

      <div class=" form-connect">
        <h1>Se connecter</h1>
        <p>Nom d'utilisateur</p>
        <input type="text" placeholder="Nom d'utilisateur" />
        <p>Mot de passe</p>
        <input type="text" placeholder="Mot de passe" />

        <button type="submit" class="button-inscrip">
          <i class="fas fa-file-signature"></i> Se connecter
        </button>
        <span class="inscrire-avec">Se connecter avec</span>
        <a><i class="fab fa-google"></i>oogle</a>
      </div>

      <span id="separator"></span>

      <div class="form-inscrip">
        <h1>S'inscrire</h1>
        <p>Nom d'utilisateur</p>
        <input type="text" placeholder="Nom d'utilisateur" />
        <p>Mot de passe</p>
        <input type="text" placeholder="Mot de passe" />
        <p>Email</p>
        <input type="text" placeholder="Email" />

        <button type="submit" class="button-inscrip">
          <i class="fas fa-file-signature"></i> S'inscrire
        </button>
        <span class="inscrire-avec">S'inscrire avec</span>
        <a><i class="fab fa-google"></i>oogle</a>
        <a><i class="fab fa-facebook"></i>acebook</a>
      </div>
    </div>
    <div class="text-center">
      <embed src="../../assets/ressourcesInternes/globe.svg" alt="" />
    </div>

  </div>

</article>
