<div class="container">

  <div id="carnetTitle" class="text-center my-5">
    <input type="text" placeholder="Titre du carnet">
  </div>

  <div id="carnetInformations">
    <div id="leftPartCarnetInformations">
      <p><i class="fas fa-user"></i> name</p>
      <div id="countrySelected">
        <p><i class="fas fa-flag"></i> Pays</p>
        <select name="countries" id="countries"></select>
      </div>
      <div id="timeTravel">
        <p><i class="fas fa-hourglass-start"></i> Durée du voyage</p>
        <input type="number">
      </div>
      <div id="departurePeriod">
        <p><i class="far fa-calendar-alt"></i> Période de départ</p>
        <select name="month" id="month">
          <option disabled selected value> -- mois -- </option>
          <option value="Janvier">Janvier</option>
          <option value="Fevrier">Fervrier</option>
          <option value="Mars">Mars</option>
          <option value="avril">avril</option>
          <option value="Mai">Mai</option>
          <option value="Juin">Juin</option>
          <option value="Juillet">Juillet</option>
          <option value="Aout">Aout</option>
          <option value="Septembre">Septembre</option>
          <option value="Octobre">Octobre</option>
          <option value="Novembre">Novembre</option>
          <option value="decembre">decembre</option>
        </select>
      </div>
    </div>
    <div id="rightPartCarnetInformations">
      <div id="organisation">
        <p><i class="fas fa-route"></i> Organisation</p>
        <select name="organisation" id="organisationEnum">
          <option disabled selected value> -- organisation -- </option>
          <option value="Personnel">Itinéraire personnel</option>
          <option value="Famille">Agence de voyage</option>
          <option value="Aucune">Aucun itinéraire prédéfini</option>
        </select>
      </div>
      <div id="situation">
        <p><i class="fas fa-hiking"></i> Situation</p>
        <select name="situation" id="">
          <option disabled selected value> -- situation -- </option>
          <option value="Solo">Solo</option>
          <option value="Famille">Famille</option>
          <option value="Amis">Amis</option>
          <option value="Couple">Couple</option>
        </select>
      </div>
      <div id="">
        <p><i class="fas fa-shuttle-van"></i> Moyen de transport</p>
        <select id="" name="">
          <option disabled selected value> -- moyen de transport -- </option>
          <option value="Van">Camping-car / Van</option>
          <option value="Avion">Avion</option>
          <option value="Voiture">Voiture</option>
          <option value="Moto">Moto</option>
        </select>
      </div>
    </div>
  </div>
</div>
