#carnets {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.tittleH3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3 {
  font-size: 5em;
}

span {
  display: block;
  width: 30%;
  /*or whatever width you want the effect of <hr>*/
  border-top: 3px solid black;
  margin: 0 auto;
}

.Card {
  width: 18rem;
  height: 28rem;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 0 15px 15px 0;
  margin: 20px;
  transition: 1s;
  position: relative;
  transform-style: preserve-3d;
}

.Card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 0 15px 15px 0;
}

.Card .details .card-body {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Card .details .card-img-opened {
  border-radius: 0 15px 0 0;
}

.Card .details .card-img-opened img {
  height: 12rem;
  width: 18rem;
  display: block;
}

.Card .details h5 {
  font-weight: 600 !important;
}

.Card .details .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Card .details .pseudo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Card .details #description {
  text-overflow: ellipsis;
  /* white-space: nowrap;
      overflow: hidden; */
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Card a {
  background-color: #fdac0f;
  border: solid 1px #fdac0f;
}

.Card a:hover {
  color: #fdac0f;
  background-color: #fff;
  border: solid 1px #fdac0f;
}

.Card .btn {
  margin: 0 25px;
}

@media(max-width:992px) {
  h3 {
    font-size: 3em;
  }
}

@media(max-width:600px) {
  h3 {
    font-size: 2em;
  }
}