<div class="container">
  <div class="mt-5">
    <h2 class="text-center h1 ">{{carnet?.title}}</h2>
    <span></span>
  </div>
  <section class="barCarnet d-flex justify-content-between flex-wrap my-5">
    <div class="element user">
      <i class="fa-regular fa-user"></i> Guillaume
    </div>
    <div class="element dateCarnet" id="dateCarnet">
      <i class="fa-regular fa-calendar-days"></i> {{carnet?.date}}
    </div>
    <div class="element like">
      <i class="fa-regular fa-heart"></i> like
    </div>
    <div class="element favoris">
      <i class="fa-regular fa-star"></i> Ajouter aux favoris
    </div>
    <div class="element flag">
      <i class="fa-regular fa-flag"></i> <a [routerLink]="'//carnets/country/' + carnet?.country">
        {{carnet?.country}}</a>
    </div>
    <div class="element btnAbo">
      <button>S'abonner</button>
    </div>
  </section>
  <section id="carnetInformations" class="d-flex justify-content-around my-5">
    <div id="leftPartCarnetInformations">
      <div id="countrySelected" class="my-2">
        <p><i class="fa-solid fa-user"></i> Contributeur : <strong>Guillaume</strong></p>
      </div>
      <div id="countrySelected" class="my-2">
        <p><i class="fas fa-flag"></i> Pays : <strong>{{carnet?.country}}</strong></p>
      </div>
      <div id="timeTravel" class="my-2">
        <p><i class="fas fa-hourglass-start"></i> Durée du voyage (jours) : <strong>{{carnet?.durationTrip}}</strong>
        </p>
      </div>
      <div id="departurePeriod" class="my-2">
        <p><i class="far fa-calendar-alt"></i> Période de départ : <strong>{{carnet?.departurePeriod}}</strong></p>
      </div>
    </div>
    <div id="rightPartCarnetInformations">
      <div id="city" class="my-2">
        <p><i class="fa-solid fa-city"></i> Ville : <strong>{{carnet?.city}}</strong></p>
      </div>
      <div id="organisation" class="my-2">
        <p><i class="fas fa-route"></i> Organisation : <strong>{{carnet?.organisation}}</strong></p>
      </div>
      <div id="situation" class="my-2">
        <p><i class="fas fa-hiking"></i> Situation : <strong>{{carnet?.situation}}</strong></p>
      </div>
      <div id="" class="my-2">
        <p><i class="fas fa-shuttle-van"></i> Moyen de transport : <strong>{{carnet?.transport}}</strong></p>
      </div>
    </div>
  </section>
  <section class="introduction d-flex flex-lg-row flex-column justify-content-center align-items-center">
    <p class="p-2">{{carnet?.introduction}}</p>
    <div>
      <a (click)="show(carnet?.picture1 ?? '')">
        <img class="p-2" style="max-width:400px; height:400px" id="imageresource"
          src="http://localhost:8080/files/{{carnet?.picture1}}">
      </a>
      <!-- Creates the bootstrap modal where the image will appear -->
      <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen ">
          <div class="modal-content bg-light text-dark">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Picture</h4>
              <button type="button" class="btn btn-default text-dark" data-dismiss="modal" (click)="hide()"><i
                  class="fa-regular fa-circle-xmark h1"></i></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <img src="http://localhost:8080/files/{{imageUrl}}" id="imagepreview1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="introduction d-flex flex-column">
    <p class="p-2">{{carnet?.description}}</p>
    <div class="d-flex justify-content-around flex-lg-row flex-column align-items-center">
      <div>
        <a (click)="show(carnet?.picture2 ?? '')">
          <img class="p-2" style="max-width:400px; height:400px" id="imageresource"
            src="http://localhost:8080/files/{{carnet?.picture2}}">
        </a>
        <!-- Creates the bootstrap modal where the image will appear -->
        <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen ">
            <div class="modal-content bg-light text-dark">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Picture</h4>
                <button type="button" class="btn btn-default text-dark" data-dismiss="modal" (click)="hide()"><i
                    class="fa-regular fa-circle-xmark h1"></i></button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <img src="http://localhost:8080/files/{{imageUrl}}" id="imagepreview2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a (click)="show(carnet?.picture3 ?? '')">
          <img class="p-2" style="max-width:400px; height:400px" id="imageresource"
            src="http://localhost:8080/files/{{carnet?.picture3}}">
        </a>
        <!-- Creates the bootstrap modal where the image will appear -->
        <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen ">
            <div class="modal-content bg-light text-dark">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Picture</h4>
                <button type="button" class="btn btn-default text-dark" data-dismiss="modal" (click)="hide()"><i
                    class="fa-regular fa-circle-xmark h1"></i></button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <img src="http://localhost:8080/files/{{imageUrl}}" id="imagepreview3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <hr>
</div>
