@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

.container{
    font-family: "montserrat";
}
span {
    display: block;
    width: 30%; /*or whatever width you want the effect of <hr>*/
    border-top: 2px solid black;
    margin: 0 auto;
}
/*SECTION BARCARNET*/
.barCarnet{
    align-items: center;
    font-weight: 400;
}
.barCarnet .btnAbo button{
    border: none;
    background-color: rgb(220, 20, 20);
    border: solid 1px #fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.barCarnet .btnAbo button:hover{
    border: solid 1px rgb(220, 20, 20);
    background-color: #fff;
    color: rgb(220, 20, 20);
}
.barCarnet .element{
    margin: 10px;
    cursor: pointer;
}
#dateCarnet{
    cursor: auto;
}
.fa-user{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.user:hover .fa-user{
    transform: rotate(360deg);
}
.fa-calendar-days{
    transition: all 0.5s ease-in-out;
}
.dateCarnet:hover .fa-calendar-days{
    transform: rotate(360deg);
}
.fa-heart{
    transition: all 0.5s ease-in-out;
}
.like:hover .fa-heart{
    transform: rotate(360deg);
    color: rgb(220, 20, 20);
    cursor: pointer;
}
.fa-star{
    transition: all 0.5s ease-in-out;
}
.favoris:hover .fa-star{
    transform: rotate(140deg);
    color: gold;
    cursor: pointer;
}
.fa-flag{
    transition: all 0.5s ease-in-out;
}
.flag:hover .fa-flag{
    transform: rotateY(180deg);
    cursor: pointer;
}
/*SECTION INTRODUCTION*/
section p{
    align-items: center;
    align-self: center;
}
section img{
    border-radius: 15px;
    cursor: pointer;
}