<div class="container">
  <section id="derniersCarnets" class="mt-5">
    <div class="tittleH3">
      <h3 class="mt-5">destinations</h3>
      <span></span>
    </div>
    <div class="allCards my-5">
      <div class="Card">
        <div>
          <img src="../../assets/ressourcesInternes/continents/amerique.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            Amerique
          </h5>
          <div class="informationsContinents">
            <p><i class="fa-solid fa-flag"></i> Nombre de pays: 55</p>
            <p><i class="fa-solid fa-people-group"></i> Population: 1.02 Miliard</p>
            <p><i class="fa-solid fa-landmark-flag"></i> Plus grand pays: Canada</p>
            <p><i class="fa-solid fa-city"></i> Ville la plus peuplée: Sao Paulo</p>
          </div>
          <a routerLink="amerique" class="btn btn-primary rounded-pill d-flex justify-content-center"
            id="enSavoirPLus">En
            savoir plus</a>
        </div>
      </div>
      <div class="Card">
        <div>
          <img src="../../assets/ressourcesInternes/continents/europe.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            Europe
          </h5>
          <div class="informationsContinents">
            <p><i class="fa-solid fa-flag"></i> Nombre de pays: 49</p>
            <p><i class="fa-solid fa-people-group"></i> Population: 749 Milions</p>
            <p><i class="fa-solid fa-landmark-flag"></i> Plus grand pays: Russie</p>
            <p><i class="fa-solid fa-city"></i> Ville la plus peuplée: Moscou</p>
          </div>
          <a routerLink="europe" class="btn btn-primary rounded-pill d-flex justify-content-center">En savoir plus</a>
        </div>
      </div>
      <div class="Card">
        <div>
          <img src="../../assets/ressourcesInternes/continents/afrique.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            Afrique
          </h5>
          <div class="informationsContinents">
            <p><i class="fa-solid fa-flag"></i> Nombre de pays: 54</p>
            <p><i class="fa-solid fa-people-group"></i> Population: 1,3 Miliard</p>
            <p><i class="fa-solid fa-landmark-flag"></i> Plus grand pays: Algérie</p>
            <p><i class="fa-solid fa-city"></i> Ville la plus peuplée: Le Caire</p>
          </div>
          <a routerLink="afrique" class="btn btn-primary rounded-pill d-flex justify-content-center">En savoir plus</a>
        </div>
      </div>
      <div class="Card">
        <div>
          <img src="../../assets/ressourcesInternes/continents/asie.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            Asie
          </h5>
          <div class="informationsContinents">
            <p><i class="fa-solid fa-flag"></i> Nombre de pays: 59</p>
            <p><i class="fa-solid fa-people-group"></i> Population: 4,5 Milards</p>
            <p><i class="fa-solid fa-landmark-flag"></i> Plus grand pays: Russie</p>
            <p><i class="fa-solid fa-city"></i> Ville la plus peuplée: Mumbaï</p>
          </div>
          <a routerLink="asie" class="btn btn-primary rounded-pill d-flex justify-content-center">En savoir plus</a>
        </div>
      </div>
      <div class="Card">
        <div>
          <img src="../../assets/ressourcesInternes/continents/oceanie.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">
            Oceanie
          </h5>
          <div class="informationsContinents">
            <p><i class="fa-solid fa-flag"></i> Nombre de pays: 14</p>
            <p><i class="fa-solid fa-people-group"></i> Population: 43 Milions</p>
            <p><i class="fa-solid fa-landmark-flag"></i> Plus grand pays: Australie</p>
            <p><i class="fa-solid fa-city"></i> Ville la plus peuplée: Sydney</p>
          </div>
          <a routerLink="oceanie" class="btn btn-primary rounded-pill d-flex justify-content-center">En savoir plus</a>
        </div>
      </div>
    </div>
  </section>
</div>