.btn-outline-primary {
    color: #FDAC0F;
    background-color: #fff;
    border-color: #FDAC0F; /*set the color you want here*/
}
.btn-outline-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FDAC0F;
    border-color: #FDAC0F; /*set the color you want here*/
}
form{
    margin: inherit;
}
.form-check-input{
    color: #fff;
    border: none;
    background-color: #FDAC0F;
    cursor: pointer;
}
footer{
position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
#btn-my-account{
    width: 200px;
    border: solid 1px #FDAC0F;
    border-radius: 5px;
    background-color: #fff;
    color: #FDAC0F;
}

#btn-my-account:hover{
    background-color: #FDAC0F;
    color: #fff;
}
@media(max-width:992px){
    .navbar .rightPart{
        flex-direction: column !important;
    }
}