.navbar {
    z-index: 100;
}

.btn-outline-primary {
    color: #0f89a3;
    background-color: #fff;
    border-color: #FDAC0F;
    /*set the color you want here*/
}

.btn-outline-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FDAC0F;
    border-color: #FDAC0F;
    /*set the color you want here*/
}

#signOutBtn {
    color: crimson;
}

#rechercheRapide {
    width: 150px !important;
    background-color: #ffffff;
}

#listCountrySelected {
    z-index: 999 !important;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    right: 224px;
    top: 40px;
    display: none;
    flex-direction: column;
    justify-content: left;
    width: 150px;
    border-left: solid 1px #FDAC0F;
    border-right: solid 1px #FDAC0F;
    border-bottom: solid 1px #FDAC0F;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#listCountrySelected a {
    text-decoration: none;
    color: #2a2a2a;
    padding-left: 12px;
    cursor: pointer;
}

#listCountrySelected a:hover {
    background-color: #0f89a3 !important;
    color: #fff;
}

form {
    margin: inherit;
}

.form-check-input {
    color: #fff;
    border: none;
    background-color: #FDAC0F;
    cursor: pointer;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#btn-my-account {
    width: 150px;
    border: solid 1px #FDAC0F;
    border-radius: 5px;
    background-color: #fff;
    color: #0f89a3;
}

#btn-my-account:hover {
    background-color: #FDAC0F;
    color: #fff;
}

@media(max-width:992px) {
    .navbar .rightPart {
        flex-direction: column !important;
    }

    #leftPartNavBar {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}