/* You can add global styles to this file, and also import other style files */

.card-body {
    padding: 10px !important;
}

html,
body {
    scroll-behavior: auto !important;
}

body:before {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}