<section id="homeVideo">
  <video
    autoplay="autoplay"
    loop="true"
    muted
    defaultmuted
    playsinline
    id="bgVideo"
  >
    <source src="../../assets/video/bgVideo.mp4" type="video/mp4" />
  </video>
  <div class="empty" style="height: 85vh">
    <div class="blocTittleOnVideo">
      <img src="../../assets/logoCamping/logo_camping.png" alt="" />
      <h1>
        Les carnets <br />
        de voyage
      </h1>
      <h2>explorez un nouvel endroit</h2>
    </div>
  </div>
</section>

<div class="container">
  <section id="derniersCarnets" class="mt-5">
    <div class="tittleH3">
      <h3 class="mt-5">derniers carnets</h3>
      <span></span>
    </div>
    <div class="allCards my-5">
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/1.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Card title Card title Card title Card titleCard title
          </h5>
          <p class="pseudo text-secondary">
            @Mon pseudo est super long et il dépasse de la card
          </p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content. Some quick example text to build on the
            card title and make up the bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/2.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/3.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/4.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
    </div>
  </section>

  <section id="carnetsPopulaires">
    <div class="tittleH3 m">
      <h3 class="mt-5">Carnets populaires</h3>
      <span></span>
    </div>
    <div class="allCards my-5">
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/5.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/6.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content. the card title and make up
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/7.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
      <div class="Card">
        <div>
          <img
            src="../../assets/imagesPourCards/8.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="pseudo text-secondary">@pseudo</p>
          <p id="description" class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="#"
            class="btn btn-primary rounded-pill d-flex justify-content-center"
            >Découvrir</a
          >
        </div>
      </div>
    </div>
  </section>

  <section id="destinationAleatoire">
    <div class="tittleH3 m">
      <h3 class="mt-5">Destination aléatoire</h3>
      <span></span>
    </div>
    <div class="btnDecouvreUnCarnet">
      <a href="">Découvrez un carnet</a>
    </div>
    <p class="text-center">laissez-vous surprendre !</p>
  </section>

  <section id="mapMonde">
    <div class="tittleH3 m">
      <h3 class="mt-5">Map monde</h3>
      <span></span>
    </div>
    <div class="d-flex justify-content-around my-5">
      <div
        class="Map"
        (chartClick)="selectedCountry($event, 'chartClick')"
        style="width: 800px; height: 500px"
        echarts
        [options]="mapOption"
      ></div>
      <div
        class="Map text-center d-flex flex-column justify-content-between"
        style="padding: 15px"
      >
        <div>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/1280px-Flag_of_France.svg.png"
            alt=""
            style="height: 50px; width: 100px"
          />
        </div>
        <h5>France</h5>
        <p>Capitale</p>
        <p>Heure</p>
        <p>Monnaie</p>
        <p>Superficie</p>
        <p>68 650 480 habitants</p>
        <a
          href="#"
          class="btn btn-primary rounded-pill d-flex justify-content-center"
          >Accédez aux carnets de ce pays</a
        >
      </div>
    </div>
  </section>
</div>
