@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

#bgVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: 50% 50%;
}

.blocTittleOnVideo {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.528);
  width: 600px;
  height: 600px;
  margin: 150px auto;
  margin-bottom: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blocTittleOnVideo img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.blocTittleOnVideo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.blocTittleOnVideo h2 {
  color: #a63e00;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
  font-size: large;
  margin-top: 50px;
}
#derniersCarnets {
  min-height: 80vh;
}
#carnetsPopulaires {
  min-height: 80vh;
}
.tittleH3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
h3 {
  font-size: 5em;
}
span {
  display: block;
  width: 30%; /*or whatever width you want the effect of <hr>*/
  border-top: 3px solid black;
  margin: 0 auto;
}

/****************** Cards ***********************/
.allCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Card {
  width: 18rem;
  height: 28rem;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 0 15px 15px 0;
  margin: 10px;
  transition: 1s;
  position: relative;
  transform-style: preserve-3d;
}
.Card .cover{
  position: relative;
  width: 18rem;
  height: 28rem;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  overflow: hidden;
  transition: 1s ease-in-out;
  transform-origin: left;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  clip-path: inset(-15px -15px -15px 0px);
}
.Card .cover img{
  height: 28rem;
  border-radius: 0 15px 15px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Card:hover{
  transform: perspective(2000px) translate(50%);
  
}
.Card:hover .cover{
  transform: rotateY(-180deg);
}
.Card .details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 0 15px 15px 0;
}

.Card .details .card-body{
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Card .details .card-img-opened {
  border-radius: 0 15px 0 0;
}
.Card .details .card-img-opened img{
  height: 12rem;
  width: 18rem;
  display: none;
}
.Card .details h5 {
  font-weight: 600 !important;
}
.Card .details .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Card .details .pseudo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Card .details #description {
  text-overflow: ellipsis;
  /* white-space: nowrap;
    overflow: hidden; */
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.Card a {
  background-color: #fdac0f;
  border: solid 1px #fdac0f;
}
.Card a:hover {
  color: #fdac0f;
  background-color: #fff;
  border: solid 1px #fdac0f;
}
.Card .btn {
  margin: 0 25px;
}
/******************** Tous les carnets **************************/
#tousLesCarnets .voirTousLesCarnets {
  width: 100%;
  height: 10rem;
  text-align: center;
  background-image: url(../../assets/imagesPourCards/1.jpg);
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin: 50px 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
#tousLesCarnets .voirTousLesCarnets:hover {
  transform: scale(1.02);
}
#tousLesCarnets a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
}
#tousLesCarnets p {
  margin-top: -40px;
  margin-bottom: 200px;
}
/******************** Destination Aleatoire **************************/
#destinationAleatoire .btnDecouvreUnCarnet {
  width: 100%;
  height: 10rem;
  text-align: center;
  background-image: url(../../assets/ressourcesInternes/bgDecouvrezUnCarnet.jpg);
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin: 50px 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
#destinationAleatoire .btnDecouvreUnCarnet:hover {
  transform: scale(1.02);
}
#destinationAleatoire a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 40px;
}
#destinationAleatoire p {
  margin-top: -40px;
  margin-bottom: 200px;
}
/*************************** Map ***********************************/
.Map {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  overflow: hidden;
}
.cardCountry {
  width: 280px;
  height: 500px;
}
.Map .btn {
  background-color: #fdae0f;
  border: solid 1px #fdac0f;
}
.Map .btn:hover {
  background-color: #fcc24c;
  border: solid 1px #fcc24c;
}
.infoCountry {
  font-family: "Montserrat", sans-serif;
}
h6 {
  font-size: x-large;
}
.infoCountry p,
a {
  font-size: small;
}

/************* MEDIA QUERRIES *******************/

@media (max-width: 1600px) {
  .Card .details .card-img-opened img{
    display: block;
  }
  .Card .cover{
    display: none;
  }
  .Card:hover{
    transform: none;
  }

}
@media (max-width: 769px) {
  .blocTittleOnVideo {
    width: 280px;
    height: 280px;
    margin: 250px auto;
    margin-bottom: 350px;
  }
  .blocTittleOnVideo img {
    width: 50px;
    display: block;
    margin: 20px auto 10px auto;
  }
  .blocTittleOnVideo h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2em;
  }
  .blocTittleOnVideo h2 {
    font-size: small;
    margin-top: 10px;
  }
  h3 {
    font-size: 2em;
  }
  
}

@media (max-width: 576px) {
  .blocTittleOnVideo {
    width: 280px;
    height: 280px;
    margin: 250px auto;
    margin-bottom: 350px;
  }
  .blocTittleOnVideo img {
    width: 50px;
    display: block;
    margin: 20px auto 10px auto;
  }
  .blocTittleOnVideo h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2em;
  }
  .blocTittleOnVideo h2 {
    font-size: small;
    margin-top: 10px;
  }
  h3 {
    font-size: 2em;
  }
}
