<section id="homeVideo">
  <video autoplay="autoplay" loop="true" muted defaultmuted playsinline id="bgVideo">
    <source src="../../assets/video/bgVideo.mp4" type="video/mp4" />
  </video>
  <div class="empty" style="height: 85vh">
    <div class="blocTittleOnVideo">
      <img src="../../assets/logoCamping/logo_camping.png" alt="" />
      <h1>
        Les carnets <br />
        de voyage
      </h1>
      <h2>explorez un nouvel endroit</h2>
    </div>
  </div>
</section>

<div class="container-fluid">
  <section id="derniersCarnets" class="mt-5">
    <div class="tittleH3">
      <h3 class="mt-5">derniers carnets</h3>
      <span></span>
    </div>
    <div class="allCards my-5">
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/1.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/1.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title Card title Card title Card titleCard title
            </h5>
            <p class="pseudo text-secondary">
              @Mon pseudo est super long et il dépasse de la card
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content. Some quick example text to build on the
              card title and make up the bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/2.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/2.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content. Some quick example text to build on the card title and make up the
              bulk of the card's content. Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/3.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/3.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/4.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/4.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="carnetsPopulaires">
    <div class="tittleH3 m">
      <h3 class="mt-5">Carnets populaires</h3>
      <span></span>
    </div>
    <div class="allCards my-5">
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/5.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/5.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title Card title Card title Card titleCard title
            </h5>
            <p class="pseudo text-secondary">
              @Mon pseudo est super long et il dépasse de la card
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content. Some quick example text to build on the
              card title and make up the bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/6.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/6.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/7.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/7.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="cover">
          <img src="../../assets/imagesPourCards/8.jpg" alt="image">
        </div>
        <div class="details">
          <div class="card-img-opened">
            <img src="../../assets/imagesPourCards/8.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="pseudo text-secondary">
              @pseudo
            </p>
            <p id="description" class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center">Découvrir</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="destinationAleatoire">
    <div class="tittleH3">
      <h3 class="mt-5">Destination aléatoire</h3>
      <span></span>
    </div>
    <div class="btnDecouvreUnCarnet container mx-auto">
      <a routerLink="carnet">Découvrez un carnet</a>
    </div>
    <p class="text-center">laissez-vous surprendre !</p>
  </section>

  <section id="mapMonde">
    <div class="tittleH3 m">
      <h3 class="mt-5">Map monde</h3>
      <span></span>
    </div>
    <div class="d-flex justify-content-around my-5 flex-wrap">
      <div class="Map mb-4" (chartClick)="selectedCountry($event, 'chartClick')" style="width: 800px; height: 500px"
        echarts [options]="mapOption">
      </div>
      <div class="Map d-flex flex-column justify-content-between cardCountry" *ngIf="countryDetail.name">
        <div>
          <img src="{{ countryDetail.flag }}" alt="" style="height: 166px; width: 100%" />
        </div>
        <h6 style="margin: 0 15px" class="text-center">
          <strong>{{ countryDetail.name }}</strong>
          <br>
          <p>{{ countryDetail.countryCode}}</p>
        </h6>
        <div class="infoCountry" style="margin: 0 15px">
          <p><strong>Capitale:</strong> {{ countryDetail.capital }}</p>
          <p><strong>Region: </strong> {{ countryDetail.region }}</p>
          <p><strong>Superficie: </strong> {{ countryDetail.area }} km²</p>
          <p><strong>Population: </strong> {{ countryDetail.population }} habitants</p>
          <a href="{{ countryDetail.googleMap }}" target="_blank" class="link-info">Lien Google Map</a>
        </div>
        <a routerLink="carnet" class="btn btn-primary rounded-pill d-flex justify-content-center"
          style="margin: 0 15px 15px 15px">Accédez aux carnets de ce pays</a>
      </div>
    </div>
  </section>
</div>
